<div class="friend__image-wrap">
  <img class='friend__image' src={{avatar}}>
</div>
<div class="friend__name">{{name}}</div>
<button class="button friend__btn"><img class="friend__btn-img" src={{btn_img}} alt=""></button>