.friends-room {
  width: 620px;
  height: 500px;
  background-color: $bg-color;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 46px 46px 1fr;
  grid-column-gap: 1px;
  padding-bottom: 45px;
}

.friends-room__caption {
  padding: 14px 14px;
  background-color: $bg-caption;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  align-self: center;
  grid-row: 1;
  grid-column: 1/3;
  line-height: 1.187;
}